/*CONTENIDO*/

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: justify;
  }
  
  
  h1{
    color: white;
    font-size: 3em;
  }
  
  span{
    color: #A90F2B;
  }
  
  .info__principal{
    animation: move_vector2 6s ease-in-out infinite;
  }

 /* @keyframes move_vector2 {
    0%{
      transform: translateY(2px);
    }
    25%{
      transform: translateY(-2px);
    }
    100%{
      transform: translateY(2px);
    }
  }*/

  .main img{
    width: 400px;
    /*animation: move_vector 6s ease-in-out infinite;*/
  }

  @keyframes move_vector {
    0%{
      transform: translateY(2px);
    }
    25%{
      transform: translateY(-2px);
    }
    100%{
      transform: translateY(2px);
    }
  }


  
  .downloadbtn{
    padding: 10px 20px;
    background-color: #A90F2B;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  
  }
  
  .downloadbtn:hover{
    background: black;
    color: #A90F2B;
    transition: ease-in .2s;
    opacity: 0.8;
  }