/*FOOTER*/

/*.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: azure;
    text-decoration: none;
    
  
  }*/

  footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(../img/background-footer.svg);
    background-size: cover;
  }

  .footer__contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
  }
  .footer__social {
    display: flex;
    flex-direction: column;
    padding: 40;
    margin-right: 25em;
  }

  .footer__contenedor h2 {
    margin-bottom: 20px;
    color: #343434;
    font-weight: 700;
    text-align: center;
  }

  .footer__contenedor a {
    margin-top: 10px;
    color: black;
    font-weight: 600;

  }

  .footer__contenedor a:hover {
    opacity: 0.8;
    color: red;

  }

  .footer__social a {
    font-size: 20px;
  }

 /* .footer__content h2, .footer__social i{
    font-size: 2em;
    padding: 0 20px;
    margin-top: 40px;
  }
  
  .footer__content {
    float: right;
  }

  .footer__social {
    display: flex;
    justify-content: center;
    width: 300px;
    float: left;
  
  }
  
  .footer__download a{
    text-decoration: none;
    color: aliceblue;
  }

  footer .footer__title {
    color: black;
  }*/
  


  /*@media only screen and (max-width: 480px) {
    .navbar {
      display: block;
      justify-content: space-between;
      padding: 2em;
      width: 100%;
    }
    
    .navbar__menu {
      display: block;
      width: 70%;
      justify-content: space-around;
      margin-top: 1em;
    }
    
    .navbar__logo {
      letter-spacing: 10px;
      font-size: 1.5em;
      justify-items: center;
    }
    
    .navbar__menu a {
      padding: 10px;
    }
  
    .navbar__item {
      display: none;
    }
  
    .navbar__item.show {
      display: none;
    }
  
    .menu {
      display: block;
      cursor: pointer;
      color: black;
      padding: 1em;
      font: 2em;
      text-align: center;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }*/
  