/*BARRA DE NAVEGACIÓN*/

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
}
  
  .menu {
    display: none;
  }
  
  .navbar__menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  
  .navbar__logo {
    letter-spacing: 10px;
    font-size: 1.5em;
  }
  
  .navbar__menu a{
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .navbar__menu a:hover{
    background-color: #2A6F97;
    color: white;
    transition: ease-in .3s;
  }
  
  .navbar__item{
    list-style: none;
    
  }
  
  .navbar a{
    text-decoration: none;
    color: black;
  
  }

  /*.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background-color: white;
  }*/
