/*BARRA DE NAVEGACIÓN*/

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgb(210,97,97);
    background: radial-gradient(circle, rgba(210,97,97,1) 28%, rgba(199,116,131,1) 79%);
  }
  
  .menu {
    display: none;
  }
  
  .navbar__menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  
  .navbar__logo {
    letter-spacing: 10px;
    font-size: 1.5em;
  }
  
  .navbar__menu a{
    padding: 10px 20px;
  
  }
  
  .navbar__menu a:hover{
    background-color: #A90F2B;
    color: white;
    transition: ease-in .3s;
  }
  
  .navbar__item{
    list-style: none;
    
  }
  
  .navbar a{
    text-decoration: none;
    color: black;
  
  }