@import url('https://fonts.googleapis.com/css2? family = Roboto + Condensed: wght @ 300; 400 & family = Roboto: wght @ 100; 300; 400 & display = swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background: rgb(210,97,97);
  background: radial-gradient(circle, rgba(210,97,97,1) 28%, rgba(199,116,131,1) 79%);
}

.main{
  width: 80vw;
  height: 80vh;
  
  color: black;
}

/*BARRA DE NAVEGACIÓN*/

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.menu {
  display: none;
}

.navbar__menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.navbar__logo {
  letter-spacing: 10px;
  font-size: 1.5em;
}

.navbar__menu a{
  padding: 10px 20px;

}

.navbar__menu a:hover{
  background-color: #A90F2B;
  color: white;
  transition: ease-in .3s;
}

.navbar__item{
  list-style: none;
  
}

.navbar a{
  text-decoration: none;
  color: black;

}

/*CONTENIDO*/

.main{
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: justify;
}


h1{
  color: white;
  font-size: 3em;
}

span{
  color: #A90F2B;
}

.main img{
  width: 400px;
}

.downloadbtn{
  padding: 10px 20px;
  background-color: #A90F2B;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;

}

.downloadbtn:hover{
  background: white;
  color: #A90F2B;
  transition: ease-in .2s;
}

/* SOBRE MI */

.aboutme{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  background-color: white;

}

.aboutme img{
  width: 500px;
  grid-column: 1/5;
}

.aboutme__info{
  grid-column: 3/10;
  padding: 1em;

}

.aboutme__info h2{
  font-size: 2.5em;
  color: #ce676c;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: #A90F2B;
  margin-top: 10px;
  margin-bottom: 2em;

}

.aboutme__info p {
  margin-bottom: 1em;
}

/*PORTAFOLIO*/

.port__title {
  width: 100vw;
  padding-left: 5em;
  padding-top: 5em;
}

.port__title h2 {
  font-size: 2.5em;
}

.port .container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.port{
  background: rgb(210,97,97);
  background: radial-gradient(circle, rgba(210,97,97,1) 28%, rgba(199,116,131,1) 79%);
  width: 100vw;
  height: 720px;
}

.card {
  width: 300px;
  margin: 5em;
  height: 350px;
  background: rgb(172, 82, 82);
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url(../img/WhatsApp\ Image\ 2021-11-17\ at\ 09.25.04.jpeg);
  background-size: cover;
}

.card__title {
  padding: 20px;
  text-align: center;
}

.card__title p {
  margin-top: 30px;
  margin-bottom: 15px;
}

.card__link-proj {
  display: flex;
  justify-content: space-evenly;
}

.card__link-proj a {
  color: white;
  text-decoration: none;
}

.card .card__download-btn { 
  margin: 0 auto;
  margin-bottom: 100px;
  width: 70%;
}

.card .card__download-btn a {
  text-decoration: none;
  color: white;
}

.card__download-hpl {
  display: flex;
  width: 100%;
  justify-content: center;
}

/*SLIDER*/

  .contenedor {
    width: 100%;
    /*overflow: hidden;*/

  }

  .slider__contenedor {
    width: 100%;
    display: flex;
  }

  .slider__content {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .slider__content:nth-child(2) {
    background-color: violet;
    color: white;
  }

  .slider__content:nth-child(3) {
    background-color: grey;
    color: white;
  }

  .slider__content img {
   width: 400px;

  }

  .slider__content div {
    width: 40%;
  }

  .slider__content h2 {
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
  }

/*por si pongo botones
.slider__content a {
    color: white;
    background: #332863;
    width: 100px;
    padding: 15px 0;
    display: block;
    text-aling: center;
    margin-top: 20px;
    border-radius: 7px;
    text-decoration: none;
  }
*/

/*FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: azure;
  text-decoration: none;

}

.footer__content h2, .footer__social i{
  font-size: 2em;
}

.footer__social {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;

}

.footer__download a{
  text-decoration: none;
  color: aliceblue;
}

/*@media only screen and (max-width: 480px) {
  .navbar {
    display: block;
    justify-content: space-between;
    padding: 2em;
    width: 100%;
  }
  
  .navbar__menu {
    display: block;
    width: 70%;
    justify-content: space-around;
    margin-top: 1em;
  }
  
  .navbar__logo {
    letter-spacing: 10px;
    font-size: 1.5em;
    justify-items: center;
  }
  
  .navbar__menu a {
    padding: 10px;
  }

  .navbar__item {
    display: none;
  }

  .navbar__item.show {
    display: none;
  }

  .menu {
    display: block;
    cursor: pointer;
    color: black;
    padding: 1em;
    font: 2em;
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}*/
