@import url('https://fonts.googleapis.com/css2? family = Roboto + Condensed: wght @ 300; 400 & family = Roboto: wght @ 100; 300; 400 & display = swap');
@import "./navbar.css";
@import "./contenido.css";
@import "./aboutme.css";
@import "./portafolio.css";
@import "./slider.css";
@import "./footer.css";
@import "./habilidades.css";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background: rgb(210,97,97);
  background: radial-gradient(circle, rgba(210,97,97,1) 28%, rgba(199,116,131,1) 79%);
}

.main{
  width: 80vw;
  height: 80vh;
  color: black;
}












